.page {
  height: 100vh;
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  overflow: hidden;
}

.main {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
